body{text-align: center; background-color: #483d8b; font-family: sans-serif;}
h1{font-size: 75px; margin-top: 0; line-height: 1; font-family: 'Reggae One'; color: #fff44f;}
h2{font-size: 50px; margin-top: 1; line-height: 0.75; color: white;}
p{font-size: 25px; margin-top: 0; line-height: 0.25; color: white;}
a{font-size:25px; color: #8888ff; margin-top: 0; line-height: 0; font-family: serif; text-decoration: none;}
/*マウスがのったときだけのプログラム*/
a:hover{color: white;}
/*回すプログラム*/
@keyframes rotate-anim {
    0%   { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}
.round-image {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg); 
    z-index: -1;
    width: 500px;
    height: 500px;
    opacity: 0.2;
    border-radius: 50%;
    animation: rotate-anim 10s linear infinite;
}